<div class="ui fluid raised card chatbox">
  <div class="content">
    <div class="header">Message Time</div>
    <hr>
 
<div class="ui small feed">
<% @messages.each do |m| %>  
<div class="event">
    <div class="content">
    <% if m.user.email == current_user.email %>
    <div class="summary text_right ">
    <small >[<%= m.created_at.strftime("%H:%M") %>]</small>  - <%= m.body %>
     
    </div>
    <% else %>
      <div class="summary">
         <em><%= m.user.email %></em>: <%= m.body %> -
         <small >[<%= m.created_at.strftime("%H:%M") %>]</small>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>

</div>
</div>
        <div class="extra content">
        <div class = "ui reply form" >
                <%= form_for Message.new do |m| %>
                <div class="field input">
                <%= m.text_field :body , placeholder: "Write your message..." %>
                </div>
                <div class="ui blue labeled submit icon button">
                 <i class="edit icon"> </i>  <%= m.submit %>
                </div>
                <% end %>
                </div>
        </div>
</div>